.sign-in-questions,
.sign-in-questions * {
  text-align: left;
}

.sign-in-questions .question {
  margin-bottom: 1rem;
}

.sign-in-questions .question > label {
  display: block;
}

.sign-in-questions .question > div > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.sign-in-questions .question > div > div > label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
}

.sign-in-questions-dropdown,
.sign-in-questions-text {
  width: 100%;
  padding: 12px 15px;
  border-radius: 0.625rem;
  border: 1px solid #d9d9d9;
  background: rgba(217, 217, 217, 0.32);
  font-size: 1rem;
  transition: all 0.2s ease;
  box-sizing: border-box;
  font-family: Manrope;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: #231f20;
}

.sign-in-questions-mcq {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.sign-in-question-tf {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.sign-in-question-tf > label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 400;
}

.sign-in-question-checkbox {
  margin-right: 0.25rem;
}
